 <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= rooms_path(category_id: 1) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 1)) %>">Healthcare</a></li>
      <li class="nav-item"><a href="<%= rooms_path(category_id: 2) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 2)) %>">Information technology</a></li>
      <li class="nav-item"><a href="<%= rooms_path(category_id: 3) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 3)) %>">Real estate and development</a></li>
      <li class="nav-item"><a href="<%= rooms_path(category_id: 4) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 4)) %>">Retail</a></li>
      <li class="nav-item"><a href="<%= rooms_path(category_id: 5) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 5)) %>">Education</a></li>
      <li class="nav-item"><a href="<%= rooms_path(category_id: 6) %>" class="nav-link <%= 'active' if current_page?(rooms_path(category_id: 6)) %>">Government</a></li>
    </ul>
  </div>

<div>
  <%= render 'rooms/rooms', rooms: @room %>
</div>

<% if logged_in? %>
<% unless current_page?(root_path) then %>
<%= link_to 'Create New Room', rooms_new_path(@category), class: 'btn btn-primary btn-block col-sm-4 mx-auto'%>
<% end %>
<% end %>
