<div class="row">
  <div class="card mx-auto col-xs-12 col-md-6">
    <div class="card-header">
      <h3 class="card-title"><%= @room.name %></h3>
        <% if current_user == @room.user %>
          <div class="btn-group">
            <%= link_to "Edit", edit_room_path(@room), class: 'btn btn-secondary btn-sm' %>
          </div>
          <div class="btn-group">
            <%= link_to "Delete", @room, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          </div>
        <% end %>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li><%= @room.description %></li>
        <li><%= @room.date_and_time %></li>
        <li><%= @room.url %></li>
      </ul>
    </div>
  </div>
</div>